<!DOCTYPE html>
<html lang="en" ng-app='application'>
<head>
	<meta charset="UTF-8">
	<title>Pronto Delivery</title>

	<!-- >>>>>>>>>> ANGULARJS >>>>>>>>>> -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular-route.min.js'></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> jQUERY >>>>>>>>>> -->
	<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> BOOTSTRAP >>>>>>>>>> -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> CUSTOM CSS >>>>>>>>>> -->
	<link rel="stylesheet" href="./stylesheets/style.css">
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

	
	<!-- >>>>>>>>>> ANGULAR MODULE >>>>>>>>>> -->	
	<script src='/javascripts/application.js'></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> ANGULAR FACTORIES >>>>>>>>>> -->
	<script src='/javascripts/factories/authenticationFactory.js'></script>
	<script src='/javascripts/factories/adminFactory.js'></script>
	<script src='/javascripts/factories/businessFactory.js'></script>
	<script src='/javascripts/factories/userFactory.js'></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> ANGULAR CONTROLLERS >>>>>>>>>> -->
	<script src='/javascripts/controllers/mainController.js'></script>
	<script src='/javascripts/controllers/authenticationController.js'></script>
	<script src='/javascripts/controllers/adminController.js'></script>
	<script src='/javascripts/controllers/businessController.js'></script>
	<script src='/javascripts/controllers/userController.js'></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


	<!-- >>>>>>>>>> CUSTOM JQUERY >>>>>>>>>> -->
	<script src='./javascripts/jquery.js'></script>
	<script src="./javascripts/ui-bootstrap-custom-tpls-0.13.1.min.js"></script>
	<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
</head>

<body ng-controller='mainController as main'>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'>PRONTO DELIVERY CO</span>
			</div>

			<!-- >>>>>>>>> LANDING PAGE/BEFORE LOG IN >>>>>>>>> -->
			<div class="navbar-collapse collapse" ng-if="!main.loggedIn">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/login'>Log In</a></li>
					<li><a href='#/signup'>Sign Up</a></li>
					<li><a href="#/admin_users">Admin</a></li>
				</ul>
			</div>
			<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

			<!-- >>>>>>>>>>>>>>>>>> USER >>>>>>>>>>>>>>>>>> -->
			<div class="navbar-collapse collapse" ng-if="main.loggedIn && main.user">
				<!-- >>>>>>>>> LOG OUT + CART >>>>>>>>> -->
					<ul class='nav navbar-nav navbar-right'>
						<li><a href ng-click="main.changeLocation('checkout')">Cart ({{ main.cartQuantity || 0 }})</a></li>
						<li><a href ng-click="main.logOut()">Log Out</a></li>
					</ul>
				<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->

				<!-- >>>>>>>>> DASHBOARD >>>>>>>>> -->
				<div ng-switch on="main.location">
					<div ng-switch-when="user_dashboard">
					</div>
					<div ng-switch-when="menu">
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('user_dashboard')">Business Dashboard</a></li>
						</ul>
					</div>
					<div ng-switch-when="checkout">
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('user_dashboard')">Business Dashboard</a></li>
						</ul>
					</div>
					<div ng-switch-when="successful_order">
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('user_dashboard')">Business Dashboard</a></li>
						</ul>
					</div>
				</div>
				<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
			</div>
			<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->


			<!-- >>>>>>>>> BUSINESS >>>>>>>>> -->
			<div class="navbar-collapse collapse" ng-if="main.loggedIn && main.business">
				<div ng-switch on='main.location'>
					<div ng-switch-when='business_current_orders'>
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('business_menu_table')">Menu</a></li>
							<li><a href ng-click="main.changeLocation('business_order_history')">Order History</a></li>
							<li><a href ng-click='main.showBusinessProfile(); main.changeLocation("business_profile")'>Profile</a></li>
							<li><a href ng-click="main.logOut()">Log Off</a></li>
						</ul>
					</div>
					<div ng-switch-when='business_menu_table'>
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('business_order_history')">Order History</a></li>
							<li><a href ng-click="main.changeLocation('business_current_orders')">Current Orders</a></li>
							<li><a href ng-click='main.showBusinessProfile(); main.changeLocation("business_profile")'>Profile</a></li>
							<li><a href ng-click='main.logOut()'>Log Off</a></li>
						</ul>
					</div>
					<div ng-switch-when='business_order_history'>
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('business_menu_table')">Menu</a></li>
							<li><a href ng-click="main.changeLocation('business_current_orders')">Current Orders</a></li>
							<li><a href ng-click='main.showBusinessProfile(); main.changeLocation("business_profile")'>Profile</a></li>
							<li><a href ng-click='main.logOut()'>Log Off</a></li>
						</ul>
					</div>
					<div ng-switch-when='business_profile'>
						<ul class='nav navbar-nav navbar-right'>
							<li><a href ng-click="main.changeLocation('business_menu_table')">Menu</a></li>
							<li><a href ng-click="main.changeLocation('business_current_orders')">Current Orders</a></li>
							<li><a href ng-click="main.changeLocation('business_order_history')">Order History</a></li>
							<li><a href ng-click='main.logOut()'>Log Out</a></li>
						</ul>
					</div>
				</div>
			</div>
			<!-- <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
		</div>
	</nav>
	<div ng-view></div>
</body>

</html>









