<div class="admin_business_page">
	<div class="admin_business_table container">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-2 col-md-offset-10">
					<input ng-model='filter_name' class='form-control admin_filter_businesses' type="text" placeholder='Filter Businesses'>
				</div>
			</div>
		</div>
		<h1>Business</h1>
		<table class='table'>
			<thead>
				<th>Business Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip Code</th>
				<th>Status</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='business in businesses | filter: filter_name | orderBy: "-created_at"'>
					<td ng-bind='business.business_name'></td>
					<td><a href ng-bind='business.email'></a></td>
					<td ng-bind='business.phone'></td>
					<td ng-bind='business.street_address'></td>
					<td ng-bind='business.city'></td>
					<td ng-bind='business.state'></td>
					<tdng-bind='business.zip_code'></td>
					<td ng-bind='business.status'></td>
					<td><p><a href ng-click='showBusinessProfile(business._id)'>Update</a></p><p><a href ng-click='deleteBusiness(business._id)'>Delete</a></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>