<div class="admin_users_page">
	<div class="admin_users_table container">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-2 col-md-offset-10">
					<input ng-model='filter_name' class='form-control admin_filter_users' type="text" placeholder='Filter Users'>
				</div>
			</div>
		</div>
		<h1>Users</h1>
		<table class='table'>
			<thead>
				<th>Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Type</th>
				<th>Created At</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='user in users | filter: filter_name | orderBy: "-created_at"'>
					<td ng-bind='user.name'></td>
					<td><a href ng-bind='user.email'></a></td>
					<td ng-bind='user.cell_phone'></td>
					<td ng-bind='user.type'></td>
					<td ng-bind='user.created_at'></td>
					<td><p><a href ng-click='showUserProfile(user._id)'>Update</a></p><p><a href ng-click='deleteUser(user._id)'>Delete</a></p></td>
				</tr>				
			</tbody>
		</table>
	</div>
</div>