<div class="admin_business_page">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Out (INCORPORATE SESSION HERE)</a></li>
					<li><a href="#/admin_users">Admin Users</a></li>
					<li><a href="#/admin_taskforce">Admin Taskforce</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="admin_business_table container">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-2 col-md-offset-10">
					<input ng-model='filter_name' class='form-control admin_filter_businesses' type="text" placeholder='Filter Businesses'>
				</div>
			</div>
		</div>
		<h1>Business</h1>
		<table class='table'>
			<thead>
				<th>Business Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>Street Address</th>
				<th>City</th>
				<th>State</th>
				<th>Zip Code</th>
				<th>Status</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='business in businesses | filter: filter_name | orderBy: "-created_at"'>
					<td ng-bind='business.business_name'></td>
					<td><a href="" ng-bind='business.email'></a></td>
					<td ng-bind='business.phone'></td>
					<td ng-bind='business.street_address'></td>
					<td ng-bind='business.city'></td>
					<td ng-bind='business.state'></td>
					<tdng-bind='business.zip_code'></td>
					<td ng-bind='business.status'></td>
					<td><p><a href="" ng-click='showBusinessProfile(business._id)'>Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>