<div class="admin_taskforce_page">
	<div class="admin_taskforce_table container">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-3 col-md-offset-9">
					<input ng-model='filter_name' class='form-control admin_filter_taskforce' type="text" placeholder='Filter Taskforce Members'>
				</div>
			</div>
		</div>
		<h1>Taskforce</h1>
		<table class='table'>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Status</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='taskforce in taskforce_members | filter: filter_name | orderBy: "-created_at"'>
					<td ng-bind='taskforce.first_name'></td>
					<td ng-bind='taskforce.last_name'></td>
					<td><a href ng-bind='taskforce.email'></a></td>
					<td ng-bind='taskforce.cell_phone'></td>
					<td ng-bind='taskforce.status'></td>
					<td><p><a href ng-click='showTaskforceProfile(taskforce._id)'>Update</a></p><p><a href ng-click='deleteTaskforce(taskforce._id)'>Delete</a></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>