<div class="admin_taskforce_page">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Out (INCORPORATE SESSION HERE)</a></li>
					<li><a href="#/admin_users">Admin Users</a></li>
					<li><a href="#/admin_business">Admin Business</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="admin_taskforce_table container">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-3 col-md-offset-9">
					<input class='form-control admin_filter_taskforce' type="text" placeholder='Filter Taskforce Members'>
				</div>
			</div>
		</div>
		<h1>Taskforce</h1>
		<table class='table'>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Mobile</th>
				<th>Status</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='taskforce in taskforce_members'>
					<td ng-bind='taskforce.first_name'></td>
					<td ng-bind='taskforce.last_name'></td>
					<td><a href="" ng-bind='taskforce.email'></a></td>
					<td ng-bind='taskforce.cell_phone'></td>
					<td ng-bind='taskforce.status'></td>
					<td><p><a href="" ng-click='updateTaskforceProfile(taskforce._id)'>Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>