<div class="container biz_update_profile_container">
	<div class="row">
		<h1 class='biz_update_profile_header col-md-offset-4'>Update Business</h1>
	</div>
	<form class='form-group biz_update_profile_form col-md-5 col-md-offset-4'>
		<div class="row">
			<input ng-value='currentBiz.business_name' ng-model='currentBiz.business_name' class='form-control' type="text" placeholder='Business Name'>
		</div>
		<div class="row">
			<input ng-value='currentBiz.email' ng-model='currentBiz.email' class='form-control' type="email" placeholder='Email'>
		</div>
		<div class="row">
			<input ng-value='currentBiz.phone' ng-model='currentBiz.phone' class='form-control' type="tel" placeholder='Phone Number'>
		</div>
		<div class="row">
			Business Image:
			<input ng-value='currentBiz.image' ng-model='currentBiz.image' class='form-control' type="file">
		</div>
		<div class="row">
			Street Address:
			<input ng-value='currentBiz.street_address' ng-model='currentBiz.street_address' class='form-control' type="text" placeholder='10 Main St'>
		</div>
		<div class="row">
			City:
			<input ng-value='currentBiz.city' ng-model='currentBiz.city' class='form-control' type="text" placeholder='Amagansett'>
		</div>
		<div class="row">
			State:
			<select ng-value='currentBiz.state' ng-model='currentBiz.state' class='form-control' name="state">
				<option value=""></option>
				<option value="NY">New York</option>
			</select>
		</div>
		<div class="row">
			Zip Code:
			<input ng-value='currentBiz.zip_code' ng-model='currentBiz.zip_code' class='form-control' type="text" placeholder='55555'>
		</div>
		<div class="row">
			<input ng-click='biz.updateBusinessProfile(currentBiz)' class='form-control' type="submit" value='Update'>
		</div>
		<div class="row" ng-bind='successfulUpdate'></div>
	</form>
</div>




