<div class="business_menu_table">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Off</a></li>
					<li><a href="#/business_order_history">Business Order History</a></li>
					<li><a href="#/business_current_orders">Business Current Orders</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-md-offset-9">
				<input ng-model='filter_name' class='form-control business_menu_filter' type="text" placeholder='Filter Menu Items'>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 business_add_menu_item">
				<div class="row">
					<h1 class='business_add_menu_item_header'>Add Menu Item</h1>
				</div>
				<form class='form-group business_add_menu_item_form col-md-12'>
					<div class="row">
						<input ng-model='business.newItem.item' class='form-control' type="text" placeholder='Menu Item'>
					</div>
					<div class="row">
						<input ng-model='business.newItem.price' class='form-control' type="number" placeholder='Price'>
					</div>
					<div class="row">
						<input ng-click='business.createItem(business.newItem)' class='form-control' type="submit" value='Add Item'>
					</div>
				</form>
			</div>
			<div class="business_menu_table col-md-7 col-md-offset-2">	
				<h1 class='business_menu_header'>Menu</h1>
				<table class='table'>
					<thead>
						<th>Item</th>
						<th>Price</th>
						<th>Actions</th>
						<th></th>
					</thead>
					<tbody>
						<tr ng-repeat='item in business.items | orderBy: "-created_at" | filter: filter_name'>
							<td ng-bind='item.menu_item'></td>
							<td ng-bind-template='${{ item.price }}'></td>
							<td>
								<button type="button" class="btn btn-primary" data-toggle="modal" data-item="{{ { id: item._id, menu_item: item.menu_item, price: item.price } }}" data-target="#updateMenuItem">Edit</button>
								<button type="button" class="btn btn-danger" ng-click="business.deleteItem(item._id)">Delete</button>
							</td>
							<td ng-if="item.updated">
								<div class="alert alert-success alert-dismissible" role="alert">
									<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
									Item updated!
								</div>
							</td>
						</tr>
					</tbody>
				</table>

				<div class="modal fade" id="updateMenuItem" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
								<h4 class="modal-title">Update menu</h4>
							</div>
							<div class="modal-body">
								<form>
									<div class="form-group">
										<label for="item" class="control-label">Item:</label>
										<input type="text" class="form-control" name="menu_item" ng-model="business.updatedItem.menu_item">
									</div>
									<div class="form-group">
										<label for="price" class="control-label">Price:</label>
										<input type="number" class="form-control" name="price" ng-model="business.updatedItem.price">
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								<button type="button" class="btn btn-primary" ng-click="business.updateMenuItem(business.updatedItem)">Update</button>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>