<div class="business_current_orders">
	<div class="container">
		<div class="orders_table">
			<h1>Current Orders</h1>
			<table class='table'>
				<thead>
					<th>Item</th>
					<th>Price</th>
					<th>Quantity</th>
					<th>Total</th>
					<th>Taskforce Member</th>
					<th>ETA</th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>Happy Bowl</td>
						<td>$ 7</td>
						<td>3</td>
						<td>$21</td>
						<td>Alfonso</td>
						<td>7 minutes</td>
						<td><p><a href="">Delete</a></p></td>
					</tr>
					<tr>
						<td>Happy Bowl</td>
						<td>$ 7</td>
						<td>3</td>
						<td>$21</td>
						<td>Alfonso</td>
						<td>7 minutes</td>
						<td><p><a href="">Delete</a></p></td>
					</tr>
					<tr>
						<td>Happy Bowl</td>
						<td>$ 7</td>
						<td>3</td>
						<td>$21</td>
						<td>Alfonso</td>
						<td>7 minutes</td>
						<td><p><a href="">Delete</a></p></td>
					</tr>
					<tr>
						<td>Happy Bowl</td>
						<td>$ 7</td>
						<td>3</td>
						<td>$21</td>
						<td>Alfonso</td>
						<td>7 minutes</td>
						<td><p><a href="">Delete</a></p></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>