<div class="checkout_page">
	<div class="cart container">
		<h1>Cart</h1>
		<table class='table'>
			<thead>
				<th>Items</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</thead>
			<tbody>
				<tr ng-repeat='cartItem in cartItems'>
					<td ng-bind='cartItem.menu_item'></td>
					<td ng-bind='cartItem.price'></td>
					<td ng-bind='cartItem.quantity'></td>
					<td ng-bind='cartItem.total_price'></td>
					<td><p><a href>Update</a></p><p><a href>Delete</a></p></td>
				</tr>
			</tbody>
		</table>
		<a href ng-click="main.changeLocation('user_dashboard')" class='btn btn-default'>Continue Shopping</a>
		<a href ng-click="main.changeLocation('successful_order')" class='btn btn-default place_order'>Place Order</a>
	</div>
</div>


