<div class="checkout_page">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Out (INCORPORATE SESSION HERE)</a></li>
					<li><a href="#/user_dashboard">Business Dashboard</a></li>
					<li><a href="#/menu">Menu</a></li>

				</ul>
			</div>
		</div>
	</nav>
	<div class="cart container">
		<h1>Cart</h1>
		<table class='table'>
			<thead>
				<th>Items</th>
				<th>Price</th>
				<th>Quantity</th>
				<th>Total</th>
				<th></th>
			</thead>
			<tbody>
				<tr>
					<td>Happy Bowl</td>
					<td>$ 7</td>
					<td>3</td>
					<td>$21</td>
					<td><p><a href="">Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
				<tr>
					<td>Happy Bowl</td>
					<td>$ 7</td>
					<td>3</td>
					<td>$21</td>
					<td><p><a href="">Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
				<tr>
					<td>Happy Bowl</td>
					<td>$ 7</td>
					<td>3</td>
					<td>$21</td>
					<td><p><a href="">Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
				<tr>
					<td>Happy Bowl</td>
					<td>$ 7</td>
					<td>3</td>
					<td>$21</td>
					<td><p><a href="">Update</a></p><p><a href="">Delete</a></p></td>
				</tr>
			</tbody>
		</table>
		<a class='btn btn-default'>Continue Shopping</a>
		<a href='#/successful_order' class='btn btn-default place_order'>Place Order</a>
	</div>
</div>


