<div class="landing">
<!-- 	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'>PRONTO DELIVERY CO</span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/login'>Log In</a></li>
					<li><a href='#/signup'>Sign Up</a></li>
					<li><a href='#/user_dashboard'>Temp User Dashboard</a></li>
					<li><a href="#/business_current_orders">Business Current Orders</a></li>
					<li><a href="#/admin_users">Admin Users</a></li>
				</ul>
			</div>
		</div>
	</nav> -->
	<div class="jumbotron main">
		<div class="container">
			<h1 class='b2b_slogan text-center'>Hamptons Business To Beach Delivery</h1>
			<p class='more_info'>↓ More Info ↓</p>
		</div>
	</div>
	<div class="jumbotron order">
		<div class="container">
			<h1>Dream up an order.</h1>
		</div>
	</div>
	<div class="jumbotron relax">
		<div class="container">
			<h1>Relax.</h1> 
			<h1>Let it come to you.</h1>
		</div>
	</div>
</div>