<div class="main_sign_up_page col-md-12">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='/#login'>Log In</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container col-md-12 col-md-offset-5">
		<div class="row">
			<h1 class='sign_up_header'>Sign Up</h1>
		</div>
		<div class="row">
			<a class='btn btn-default col-md-2' href="/#user_signup">User</a>
		</div>
		<div class="row">	
			<a class='btn btn-default col-md-2' href="/#business_signup">Business</a>
		</div>
		<div class="row">	
			<a class='btn btn-default col-md-2' href="/#taskforce_signup">Taskforce</a>
		</div>
	</div>
</div>