<div class="update_user_profile">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Out (INCORPORATE SESSION HERE)</a></li>
					<li><a href="#/admin_business">Admin Business</a></li>
					<li><a href="#/admin_taskforce">Admin Taskforce</a></li>
					<li><a href="#/admin_users">Admin Users</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container user_profile_update_container">
		<div class="row">
			<h1 class='user_profile_update_header col-md-offset-4'>Update User</h1>
		</div>
		<form class='form-group user_profile_update_form col-md-5 col-md-offset-4'>
			<div class="row">
				<div class="errors" ng-model='user_reg_errors.name.message'></div>
				<input ng-model='newUser.name' class='form-control' type="text" placeholder='Name'>
			</div>
			<div class="row">
				<div class="errors" ng-bind='user_reg_errors.email.message'></div>
				<input ng-model='newUser.email' class='form-control' type="email" placeholder='Email'>
			</div>
			<div class="row">
				<div class="errors" ng-bind='user_reg_errors.cell_phone.message'></div>
				<input ng-model='newUser.cell_phone' class='form-control' type="tel" placeholder='Cell Phone Number'>
			</div>
			<div class="row">
				<div class="errors" ng-bind='user_reg_errors.password.message'></div>
				<input ng-model='newUser.password' class='form-control' type="password" placeholder='Password'>
			</div>
			<div class="row">
				<input ng-model='newUser.passconf' class='form-control' type="password" placeholder='Password Confirmation'>
			</div>
			<div class="row">
				<input ng-click='createUser(newUser)' class='form-control' type="submit" value='Register'>
			</div>
		</form>
	</div>
</div>