<div class="update_taskforce_profile">
	<div class="container taskforce_update_profile_container">
		<div class="row">
			<h1 class='taskforce_update_profile_header col-md-offset-4'>Update Taskforce Member</h1>
		</div>
		<form class='form-group taskforce_update_profile_form col-md-5 col-md-offset-4'>
			<div class="row">
				<input ng-value='taskforce.first_name' ng-value='taskforce.first_name' ng-model='taskforce.first_name' class='form-control' type="text" placeholder='First Name'>
			</div>
			<div class="row">
				<input ng-value='taskforce.last_name' ng-model='taskforce.last_name' class='form-control' type="text" placeholder='Last Name'>
			</div>
			<div class="row">
				<input ng-value='taskforce.email' ng-model='taskforce.email' class='form-control' type="email" placeholder='Email'>
			</div>
			<div class="row">
				<input ng-value='taskforce.cell_phone' ng-model='taskforce.cell_phone' class='form-control' type="tel" placeholder='Cell Phone Number'>
			</div>
			<div class="row">
				<input ng-value='taskforce.status' ng-model='taskforce.status' class='form-control' type="text">
			</div>
			<div class="row">
				<input ng-click='updateTaskforce(taskforce)' class='form-control' type="submit" value='Update'>
			</div>
		</form>
	</div>
</div>