<div class="update_user_profile">
	<div class="container user_profile_update_container">
		<div class="row">
			<h1 class='user_profile_update_header col-md-offset-4'>Update User</h1>
		</div>
		<form class='form-group user_profile_update_form col-md-5 col-md-offset-4'>
			<div class="row">
				<input ng-value='user.name' ng-model='user.name' class='form-control' type="text" placeholder='Name'>
			</div>
			<div class="row">
				<input ng-value='user.email' ng-model='user.email' class='form-control' type="email" placeholder='Email'>
			</div>
			<div class="row">
				<input ng-value='user.cell_phone' ng-model='user.cell_phone' class='form-control' type="tel" placeholder='Cell Phone Number'>
			</div>
			<div class="row">
				<input ng-value='user.type' ng-model='user.type' class='form-control' type="text" placeholder='User Type'>
			</div>
			<div class="row">
				<input ng-click='updateUser(user)' class='form-control' type="submit" value='Update'>
			</div>
		</form>
	</div>
</div>