<div class="user_dashboard">
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<span class='navbar-brand'><a href="#/">PRONTO DELIVERY CO</a></span>
			</div>
			<div class="navbar-collapse collapse">
				<ul class='nav navbar-nav navbar-right'>
					<li><a href='#/'>Log Out (INCORPORATE SESSION HERE)</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="user_dashboard_business_images jumbotron">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-2 col-md-offset-10">
					<input class='form-control filter_businesses' type="text" placeholder='Filter Businesses'>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron biz">
				<h1>Happy Bowls</h1>
				<a href="#/menu">
					<div class="happy_bowls"></div>
				</a>
			</div>
			<div class="jumbotron biz">
				<h1>Jonis</h1>
				<a href="">
					<div class="jonis"></div>
				</a>
			</div>
			<div class="jumbotron biz">
				<h1>Naturally Good</h1>
				<a href="">
					<div class="naturally_good"></div>
				</a>
			</div>
			<div class="jumbotron biz_bottom"></div>
		</div>
	</div>
</div>