<div class="user_dashboard">
	<div class="user_dashboard_business_images jumbotron">
		<div class="container">
			<div class="row col-md-12">
				<div class="col-md-2 col-md-offset-10">
					<input class='form-control filter_businesses' ng-model='filter_name' type="text" placeholder='Filter Businesses'>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="jumbotron biz" ng-repeat="business in user.businesses | filter: filter_name">
				<h1 ng-bind="business.business_name"></h1>
				<a href ng-click="user.visitMenu(business._id)">
					<div class="happy_bowls"></div>
				</a>
			</div>
			<div class="jumbotron biz_bottom"></div>
		</div>
	</div>
</div>